<form action="http://localhost:8080/upload" method="post" enctype="multipart/form-data">
    <select>
        <option selected disabled>Select Genre</option>
        <option value="epicMinor">Cinematic Epic in Minor Key</option>
    </select>
    <select>
        <option selected disabled>Select Voice</option>
        <option value="bass">Bass</option>
        <option value="melody">Melody</option>
        <option value="drum">Drum</option>
        <option value="alt-drum">Alt-Drum</option>
        <option value="harmony">Harmony</option>
        <option value="alt-harmony">Alt-Harmony</option>
    </select>
    <input type="file" name="sample" accept=".wav"/>
    <button type="submit">Upload</button>
</form>
