

  <form action="/upload" method="post" enctype="multipart/form-data">
    <select>
      <option value="genre" disabled>Genre</option>
      <option value=""></option>
    </select>
    <select>
      <option value="voice" disabled>Voice</option>
      <option value="bass">Bass</option>
      <option value="melody">Melody</option>
      <option value="drum">Drum</option>
      <option value="alt-drum">Alt-Drum</option>
      <option value="harmony">Harmony</option>
      <option value="alt-harmony">Alt-Harmony</option>
    </select>
    <input type="file" name="file" id="file"/>
    <button type="submit">Upload</button>
  </form>


